/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Adjust the size of the square */
  height: 60px; /* Adjust the size of the square */
  font-size: 48px;
  margin: 5px; /* Adjust the margin between squares */
  background: linear-gradient(to top right, violet, blue, green);
  color: white;
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 50px;
  margin-top: 20px;
}

.square:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
